<h1>Checkout</h1>
<hr>
<div class="row">
  <div class="panel panel-default" *ngIf="auth.authenticated() && auth.userProfile">
    <div class="panel-body">
      <template ngbModalContainer></template>
      <h4>Choose address</h4>
      <div class="row" *ngIf="auth.userProfile.addresses">
        <div class="col-md-4" *ngFor="let address of auth.userProfile.addresses">
          <ul class="list-group" (click)="onChooseAddress(address)" *ngIf="address!==order['address']">
            <li class="list-group-item">Country: {{address.country}}</li>
            <li class="list-group-item">Region: {{address.region}}</li>
            <li class="list-group-item">City: {{address.city}}</li>
            <li class="list-group-item">Street: {{address.street}}</li>
          </ul>
          <ul class="list-group" *ngIf="address===order['address']">
            <li class="list-group-item list-group-item-info">Country: {{address.country}}</li>
            <li class="list-group-item list-group-item-info">Region: {{address.region}}</li>
            <li class="list-group-item list-group-item-info">City: {{address.city}}</li>
            <li class="list-group-item list-group-item-info">Street: {{address.street}}</li>
          </ul>
        </div>
      </div>
      <button class="btn btn-primary" (click)="open()">Add address</button>
    </div>
  </div>
  <div class="col-md-8">
    <div class="panel">
      <h3><span class="glyphicon glyphicon-film"></span> Movies price: {{priceByCategory.movies['price'] |
        currencyPrice}}<span *ngIf="promo && priceByCategory.movies['price']!==0" class="text-danger"> -25%</span></h3>
      <h4><span class="glyphicon glyphicon-film"></span> Movies items: {{priceByCategory.movies.count}}</h4>
    </div>
    <div class="panel">
      <h3><span class="glyphicon glyphicon-music"></span> Musics price: {{priceByCategory.musics['price'] |
        currencyPrice}}<span *ngIf="promo && priceByCategory.musics['price']!==0" class="text-danger"> -25%</span></h3>
      <h4><span class="glyphicon glyphicon-music"></span> Musics items: {{priceByCategory.musics.count}}</h4>
    </div>
    <div class="panel">
      <h3><span class="glyphicon glyphicon-cd"></span> Games price: {{priceByCategory.games['price'] | currencyPrice}}
        <span *ngIf="promo && priceByCategory.games['price']!==0" class="text-danger"> -25%</span></h3>
      <h4><span class="glyphicon glyphicon-cd"></span> Games items: {{priceByCategory.games.count}}</h4>
    </div>
    <h2>Total price: {{order['price'] | currencyPrice}}<span *ngIf="promo" class="text-danger"> -25%</span></h2>
  </div>
  <div class="col-md-4">
    <form [formGroup]="inputPromo">
      <div class="form-group">
        <div class="btn-group btn-group-lg" role="group">
          <input formControlName="currency" type="button" class="btn btn-danger" (click)="onPay()">
          <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="false">
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li *ngFor="let currency of listCurrency" (click)="submitCurrency(currency)"><a>{{currency}}</a></li>
          </ul>
        </div>
      </div>
      <div class="form-group">
        <label>Promo code:</label>
        <input class="form-control" placeholder="Enter your promo..." formControlName="promo">
      </div>
      <div class="form-group">
        <input formControlName="button" type="button" class="btn-block btn-lg btn btn-success" (click)="checkPromo()">
      </div>
      <div class="panel panel-danger" *ngIf="message">
        <div class="panel-heading">Error</div>
        <div class="panel-body">
          {{message}}
        </div>
      </div>
    </form>
  </div>
</div>
