<div class="modal-header">
  <h4 class="modal-title">The confirming order!</h4>
</div>
<div class="modal-body">
  <p>Your order has been paid using {{order.currency}}!</p>
  <h3>The total price: {{order.price | currencyPrice}}</h3>
  <p>As soon as the order is generated and sent to the following address:</p>
  <ul class="list-group">
    <li class="list-group-item">Country: {{order.address.country}}</li>
    <li class="list-group-item">Region: {{order.address.region}}</li>
    <li class="list-group-item">City: {{order.address.city}}</li>
    <li class="list-group-item">Street: {{order.address.street}}</li>
  </ul>
  <p>The order will arrive in 2 weeks: {{dateOrder.toLocaleString('en',options)}}</p>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="onClose()">Close</button>
</div>
