<span (click)="goBack()">Back</span>
<div class="panel panel-primary" *ngIf="music">
  <div class="panel-heading">
    <div class="row">
      <div class="col-md-4">
        <h3 class="panel-title"></h3>
      </div>
      <div class="col-md-8">
        <h3 class="panel-title"></h3>
      </div>
    </div>

  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-4">
        <img class="img-thumbnail" src="">
        <div class="vote">

        </div>
      </div>
      <div class="col-md-8">
        <ul class="list-group">
          <li class="list-group-item"><strong>Release date: </strong></li>
          <li class="list-group-item"><strong>Budget: </strong></li>
          <li class="list-group-item"><strong>Production companies: </strong></li>
          <li class="list-group-item"><strong>Production countries: </strong></li>
          <li class="list-group-item"><strong>Homepage: </strong><a href="" target="_blank"></a></li>
          <li class="list-group-item"><strong>Genres: </strong></li>
          <li class="list-group-item"><strong>Overview: </strong></li>
        </ul>
      </div>
    </div>
  </div>
</div>
