<span (click)="goBack()">Back</span>
<div class="panel panel-primary" *ngIf="game">
  <div class="panel-heading">
    <h3 class="panel-title">{{game.name}}</h3>
  </div>

  <div class="panel-body">
    <div class="row">
      <div class="col-md-3">
        <img src="{{game.cover? pathImage+game.cover.cloudinary_id+'.png' : pathNoImage}}" alt="{{game.name}}">
        <div class="vote">

        </div>
      </div>
      <div class="col-md-7">
        <ul class="list-group">
          <li class="list-group-item"><strong>Release date: </strong>{{game.release_dates[0].human}}</li>
          <li class="list-group-item"><strong>Production companies: </strong><span *ngFor="let dev of game.developers">"{{dev}}" </span></li>
          <li class="list-group-item"><strong>Genres: </strong><span *ngFor="let genre of game.genres">"{{genre}}" </span></li>
          <li class="list-group-item"><strong>Homepage: </strong><a href="{{game.url}}" target="_blank">{{game.url}}</a>
          <li class="list-group-item"><strong>Summary: </strong>{{game.summary}}</li>
        </ul>
      </div>
      <div class="col-md-2">

      </div>
    </div>

  </div>
</div>
