.thumbnail img, .thumbnail h4{
  cursor: pointer;
}

.thumbnail h4{
  font-size: 20px;
  height: 45px;
  overflow: hidden;
}
.col-sm-4, .col-md-2{
  position: relative;
}
.remove-item {
  position: absolute;
  cursor: pointer;
  bottom: 25px;
  right: 10px;
  top:auto;
  font-size: large;
}
.label{
  position: absolute;
  bottom: 25px;
  left: 10px;
}
