<h1>Basket</h1>
<hr>
<div *ngIf="basketsItems">
  <div class="row" *ngFor="let sectionBasket of basketsItems">
    <div class="col-sm-4 col-md-2" *ngFor="let item of sectionBasket">
      <div class="thumbnail">
        <div class="label label-default" *ngIf="item.type==='movie'">Movie</div>
        <div class="label label-success" *ngIf="item.type==='album'">Album</div>
        <div class="label label-info" *ngIf="item.type==='artist'">Artist</div>
        <div class="label label-danger" *ngIf="item.type==='game'">Game</div>
        <img [src]="item.poster" alt="{{item.name}}" (click)="goToDetail(item)">
        <div class="caption">
          <h4 class="text-center" (click)="goToDetail(item)">{{item.name}}</h4>
          <p class="text-center">
            <a class="btn btn-primary" role="button"> $ {{item.price | currencyPrice}}</a>
          </p>
          <div class="glyphicon glyphicon-trash remove-item" (click)="remove(item)"></div>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div>
    <a class="btn btn-warning btn-lg" routerLink="/checkout">Checkout</a>
  </div>
</div>



