<header>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        </button>
        <a class="navbar-brand" routerLink="/">Media Shop</a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li routerLinkActive="active"><a routerLink="/movies">Movies</a></li>
          <li routerLinkActive="active"><a routerLink="/games">Games</a></li>
          <li routerLinkActive="active"><a routerLink="/musics">Musics</a></li>
        </ul>
        <div class="navbar-form navbar-left">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for...">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button">Search</button>
            </span>
          </div>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <li routerLinkActive="active" *ngIf="auth.authenticated() && auth.userProfile"><a routerLink="/basket">
            <span class="glyphicon glyphicon-shopping-cart"></span>
            Basket <span class="badge">{{basket.countItems()}}</span></a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
               aria-expanded="false">{{(auth.authenticated() && auth.userProfile)? auth.userProfile.nickname :
              'Profile'}} <img class="img-circle" *ngIf="(auth.authenticated() && auth.userProfile) "
                               [src]="auth.userProfile.picture"><span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li *ngIf="auth.authenticated()"><a routerLink="/profile">My profile</a></li>
              <li role="separator" class="divider" *ngIf="auth.authenticated()"></li>
              <li><a (click)="auth.login()" *ngIf="!auth.authenticated()">Log In</a></li>
              <li><a (click)="auth.logout()" *ngIf="auth.authenticated()">Log Out</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<div class="container">
  <toaster-container></toaster-container>
  <router-outlet></router-outlet>
</div>

<footer class="footer">
  <p>Copyright (c) 2017</p>
</footer>

