<div class="row">
  <div class="col-sm-4 col-md-2" *ngFor="let move of movies">
    <div class="thumbnail">
      <img src="{{move.poster_path ? pathImage + move.poster_path: pathNoImage}}" alt="{{move.original_title}}" (click)="goToDetail(move)">
      <div class="caption">
        <h4 class="text-center" (click)="goToDetail(move)">{{move.original_title}}</h4>
        <p class="text-center">
          <a href="#" class="btn btn-primary" role="button">Add</a>
        </p>
      </div>
    </div>
  </div>
</div>
