<ul class="nav nav-tabs nav-justified">
  <li role="presentation" routerLinkActive="active"><a routerLink="/profile/personal">Personal</a></li>
  <li role="presentation" routerLinkActive="active"><a routerLink="/profile/toasts">Toasts</a></li>
  <li role="presentation" routerLinkActive="active"><a routerLink="/profile/addresses">Addresses</a></li>
</ul>
<div class="row">
  <div *ngIf="auth.authenticated() && auth.userProfile">
    <div class="panel panel-default">
      <div class="panel-body">
        <template ngbModalContainer></template>
        <div class="row" *ngIf="addressesUser">
          <div class="col-md-4" *ngFor="let address of addressesUser">
            <ul class="list-group">
              <li class="list-group-item">{{address.country}}</li>
              <li class="list-group-item">{{address.region}}</li>
              <li class="list-group-item">{{address.city}}</li>
              <li class="list-group-item">{{address.street}}</li>
              <li class="list-group-item list-group-item-warning"><a (click)="removeAddress(address)">Delete address</a></li>
            </ul>
          </div>
        </div>
        <button class="btn btn-primary" (click)="open()">Add address</button>
      </div>
    </div>
  </div>
  <h4 *ngIf="!auth.authenticated()">You are not logged in, please click 'Log in' button to login</h4>
</div>

