<ul class="nav nav-tabs nav-justified">
  <li role="presentation" routerLinkActive="active"><a routerLink="/profile/personal">Personal</a></li>
  <li role="presentation" routerLinkActive="active"><a routerLink="/profile/toasts">Toasts</a></li>
  <li role="presentation" routerLinkActive="active"><a routerLink="/profile/addresses">Addresses</a></li>
</ul>
<div class="row">
  <div *ngIf="auth.authenticated() && auth.userProfile">
    <div class="panel panel-default">
      <div class="panel-body">

        <ul class="list-group">
          <li class="list-group-item">
            <label for="delete-toasts">Toasts add item:</label>
            <input type="checkbox" id="delete-toasts" [(ngModel)]="auth.userProfile.toasts.info">
          </li>
          <li class="list-group-item">
            <label for="warning-toasts">Toasts delete item:</label>
            <input type="checkbox" id="warning-toasts" [(ngModel)]="auth.userProfile.toasts.warning">
          </li>
          <li class="list-group-item">
            <label for="edit-toasts">Toasts edit:</label>
            <input type="checkbox" id="edit-toasts" [(ngModel)]="auth.userProfile.toasts.success">
          </li>
        </ul>
      </div>
    </div>
  </div>
  <h4 *ngIf="!auth.authenticated()">You are not logged in, please click 'Log in' button to login</h4>
</div>
