<div class="row">
  <div class="col-sm-4 col-md-2" *ngFor="let game of games">
    <div class="thumbnail">
      <img src="{{game.cover? pathImage+game.cover.cloudinary_id+'.png' : pathNoImage}}" alt="{{game.name}}" (click)="goToDetail(game)">
      <div class="caption">
        <h4 class="text-center" (click)="goToDetail(game)">{{game.name}}</h4>
        <p class="text-center">
          <a href="#" class="btn btn-primary" role="button">Add</a>
        </p>
      </div>
    </div>
  </div>
</div>
