<div class="row">
  <div class="col-md-2">
    <filter></filter>
  </div>
  <div class="col-md-10">
    <h1>Recently Released</h1>
    <hr>
    <new-games></new-games>
    <div *ngFor="let genre of randomGenres">
      <h1>{{genre.name}}</h1>
      <hr>
      <div class="row">
        <div class="col-sm-4 col-md-2" *ngFor="let game of genre.games">
          <div class="thumbnail">
            <img src="{{game.cover? pathImage+game.cover.cloudinary_id+'.png' : pathNoImage}}" alt="{{game.name}}" (click)="goToDetail(game)">
            <div class="caption">
              <h4 class="text-center" (click)="goToDetail(game)">{{game.name}}</h4>
              <p class="text-center">
                <button class="btn btn-primary" role="button">Add</button>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

